Repository apache/flink-connector-pulsar, pull requests merged in 2023-12, with the labels that each got.

#61 [FLINK-30400][build] Stop bundling flink-connector-base
  flink-connector-pulsar-e2e-tests/pom.xml
  flink-connector-pulsar/pom.xml
  flink-sql-connector-pulsar/pom.xml
  pom.xml
Labels: component=Connectors/Pulsar

#67 [hotfix][build] Bump version to 4.2-SNAPSHOT
  flink-connector-pulsar-e2e-tests/pom.xml
  flink-connector-pulsar/pom.xml
  flink-sql-connector-pulsar/pom.xml
  pom.xml
Labels: component=Documentation, component=Connectors/Pulsar

#66 [hotfix][build] Release branch should use SNAPSHOT version
  flink-connector-pulsar-e2e-tests/pom.xml
  flink-connector-pulsar/pom.xml
  flink-sql-connector-pulsar/pom.xml
  pom.xml
Labels: component=Documentation, component=Connectors/Pulsar

#71 [FLINK-33815][Connector / Pulsar] Add tests against jdk17 for pulsar connector
  .github/workflows/ci.yml
  .github/workflows/daily.yml
Labels: component=BuildSystem
